:root {
  font-size: 20px;
}

html,
* {
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(50, 50, 50); */
  background-color: rgb(255, 105, 180);
}

header {
  margin: 0;
  padding: 3rem 2rem;
  background-color: rgba(255, 255, 255, 0.65);
  color: black;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1500px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
}

.sliders {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  flex-wrap: wrap;
}

@media screen and (min-width: 1280px) {
  .sliders {
    flex-direction: row;
  }
}

.color-display p {
  font-size: 1.75rem;
  font-weight: 600;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 15rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #efefef;
  height: 0.5rem;
  border: 1px solid lightgrey;
  border-radius: 50px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  height: 1rem;
  width: 1rem;
  border-radius: 100%;
}

input[type="range"].red::-webkit-slider-thumb {
  background-color: red;
}

input[type="range"].green::-webkit-slider-thumb {
  background-color: green;
}

input[type="range"].blue::-webkit-slider-thumb {
  background-color: blue;
}
